---
import jost from "@fontsource-variable/jost/files/jost-latin-wght-normal.woff2"

interface Props {
	title: string
	description: string
	preloadImgLCP: string
}

const { title, description, preloadImgLCP } = Astro.props
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="preload" href={jost} as="font" type="font/woff2" crossorigin />
{
	preloadImgLCP && (
		<link rel="preload" href={preloadImgLCP} as="image" type="image/webp" crossorigin />
	)
}

<link rel="icon" type="image/svg+xml" href="/" />
<link rel="canonical" href="" />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#d5ff00" />

<meta name="keywords" content="" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="" />
<meta name="twitter:creator" content="" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="" />

<meta name="og:image" content="" />
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:url" content="" />
<meta name="og:site_name" content="La Velada 4" />
<meta name="og:type" content="website" />
<meta name="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
